.index-row {
	width: 96%;
	/* margin-left: 1%; */
	padding-top: 10%;
}

.picture {
	display: block;
	width: 60%;
	margin: auto;
	cursor: pointer;
}

.index-title {
	margin-top: 20px;
	text-align: center;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	div.index-row {
		width: 98%;
		padding-top: 15%;
	}
}